VERSION=1.0.0
BASE_URL=http://api.server.local
FRONTEND_URL=http://client.server.local:3000
#This will override the value runtimeConfig that is not in public
NUXT_API_SECRET=api_secret_token
NUXT_API_KEY=api_key
NUXT_APP_BASE_URL="/"