VERSION=1.0.0
BASE_URL="https://delita-master-sfnkwx.laravel.cloud"
FRONTEND_URL="https://www.kunsel-erp.com"
#This will override the value runtimeConfig that is not in public
NUXT_API_SECRET=api_secret_token
NUXT_API_KEY=api_key
NUXT_APP_BASE_URL="/"
