
@font-face {
    font-family: "Source Sans Pro";
    src: url('/fonts/source-sans-pro/sourcesanspro-light-webfont.woff2') format('woff2'),
    url('/fonts/source-sans-pro/sourcesanspro-light-webfont.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 300;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('/fonts/source-sans-pro/sourcesanspro-regular-webfont.woff2') format('woff2'),
    url('/fonts/source-sans-pro/sourcesanspro-regular-webfont.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('/fonts/source-sans-pro/sourcesanspro-regular-webfont.woff2') format('woff2'),
    url('/fonts/source-sans-pro/sourcesanspro-regular-webfont.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('/fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff2') format('woff2'),
    url('/fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 600;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('/fonts/source-sans-pro/sourcesanspro-bold-webfont.woff2') format('woff2'),
    url('/fonts/source-sans-pro/sourcesanspro-bold-webfont.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 700;
}

/**********************************************************************************************************************/

@font-face {
    font-family: "Barlow";
    src: url('/fonts/barlow/woff2/Barlow-Thin.woff2') format('woff2'),
    url('/fonts/barlow/woff/Barlow-Thin.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 200;
}

@font-face {
    font-family: "Barlow";
    src: url('/fonts/barlow/woff2/Barlow-Light.woff2') format('woff2'),
    url('/fonts/barlow/woff/Barlow-Light.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 300;
}

@font-face {
    font-family: "Barlow";
    src: url('/fonts/barlow/woff2/Barlow-Regular.woff2') format('woff2'),
    url('/fonts/barlow/woff/Barlow-Regular.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: "Barlow";
    src: url('/fonts/barlow/woff2/Barlow-Medium.woff2') format('woff2'),
    url('/fonts/barlow/woff/Barlow-Medium.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: "Barlow";
    src: url('/fonts/barlow/woff2/Barlow-SemiBold.woff2') format('woff2'),
    url('/fonts/barlow/woff/Barlow-SemiBold.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 600;
}

/**********************************************************************************************************************/


@font-face {
    font-family: "Barlow Semi Condensed";
    src: url('/fonts/barlow-semi-condensed/BarlowSemiCondensed-Regular.woff2') format('woff2'),
    url('/fonts/barlow-semi-condensed/BarlowSemiCondensed-Regular.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: "Barlow Semi Condensed";
    src: url('/fonts/barlow-semi-condensed/BarlowSemiCondensed-Medium.woff2') format('woff2'),
    url('/fonts/barlow-semi-condensed/BarlowSemiCondensed-Medium.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: "Barlow Semi Condensed";
    src: url('/fonts/barlow-semi-condensed/BarlowSemiCondensed-SemiBold.woff2') format('woff2'),
    url('/fonts/barlow-semi-condensed/BarlowSemiCondensed-SemiBold.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 600;
}

@font-face {
    font-family: "Barlow Semi Condensed";
    src: url('/fonts/barlow-semi-condensed/BarlowSemiCondensed-Bold.woff2') format('woff2'),
    url('/fonts/barlow-semi-condensed/BarlowSemiCondensed-Bold.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: "Barlow Semi Condensed";
    src: url('/fonts/barlow-semi-condensed/BarlowSemiCondensed-Bold.woff2') format('woff2'),
    url('/fonts/barlow-semi-condensed/BarlowSemiCondensed-Bold.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 800;
}

/**********************************************************************************************************************/

@font-face {
    font-family: "Google Sans Text";
    src: url('/fonts/google-sans-text/GoogleSansText-Regular.woff2') format('woff2'),
    url('/fonts/google-sans-text/GoogleSansText-Regular.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: "Google Sans Text";
    src: url('/fonts/google-sans-text/GoogleSansText-Medium.woff2') format('woff2'),
    url('/fonts/google-sans-text/GoogleSansText-Medium.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: "Google Sans Text";
    src: url('/fonts/google-sans-text/GoogleSansText-Bold.woff2') format('woff2'),
    url('/fonts/google-sans-text/GoogleSansText-Bold.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-weight: 700;
}

/**********************************************************************************************************************/

@font-face {
    font-family: "Prociono";
    src: url('/fonts/prociono/Prociono-Regular.woff2') format('woff2'),
    url('/fonts/prociono/Prociono-Regular.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 400;
}

/**********************************************************************************************************************/

@font-face {
    font-family: "Spline Sans";
    src: url('/fonts/spline-sans/SplineSans-Regular.woff2') format('woff2'),
    url('/fonts/spline-sans/SplineSans-Regular.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: "Spline Sans";
    src: url('/fonts/spline-sans/SplineSans-Medium.woff2') format('woff2'),
    url('/fonts/spline-sans/SplineSans-Medium.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: "Spline Sans";
    src: url('/fonts/spline-sans/SplineSans-SemiBold.woff2') format('woff2'),
    url('/fonts/spline-sans/SplineSans-SemiBold.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 600;
}

/**********************************************************************************************************************/

@font-face {
    font-family: "Aptos Narrow";
    src: url('/fonts/aptos-narrow/Aptos-Narrow.woff2') format('woff2'),
    url('/fonts/aptos-narrow/Aptos-Narrow.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: "Aptos Narrow";
    src: url('/fonts/aptos-narrow/Aptos-Narrow.woff2') format('woff2'),
    url('/fonts/aptos-narrow/Aptos-Narrow.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: "Aptos Narrow";
    src: url('/fonts/aptos-narrow/Aptos-Narrow-Bold.woff2') format('woff2'),
    url('/fonts/aptos-narrow/Aptos-Narrow-Bold.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 600;
}

@font-face {
    font-family: "Aptos Narrow";
    src: url('/fonts/aptos-narrow/Aptos-Narrow-Bold.woff2') format('woff2'),
    url('/fonts/aptos-narrow/Aptos-Narrow-Bold.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 700;
}

/**********************************************************************************************************************/

@font-face {
    font-family: "'M+ 2m'";
    src: url('/fonts/m-2m/m2m-regular.woff2') format('woff2'),
    url('/fonts/m-2m/m2m-regular.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: "'M+ 2m'";
    src: url('/fonts/m-2m/m2m-medium.woff2') format('woff2'),
    url('/fonts/m-2m/m2m-medium.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 500;
}

/**********************************************************************************************************************/

@font-face {
    font-family: "GG Sans";
    src: url('/fonts/gg-sans/ggsans-Medium.woff2') format('woff2'),
    url('/fonts/gg-sansggsans-Medium.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: "GG Sans";
    src: url('/fonts/gg-sans/ggsans-Medium.woff2') format('woff2'),
    url('/fonts/gg-sansggsans-Medium.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: "GG Sans";
    src: url('/fonts/gg-sans/ggsans-Bold.woff2') format('woff2'),
    url('/fonts/gg-sansggsans-Bold.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 600;
}

