
@font-face {
    font-family: "Source Sans Pro";
    src: url('/fonts/source-sans-pro/sourcesanspro-light-webfont.woff2') format('woff2'),
    url('/fonts/source-sans-pro/sourcesanspro-light-webfont.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 300;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('/fonts/source-sans-pro/sourcesanspro-regular-webfont.woff2') format('woff2'),
    url('/fonts/source-sans-pro/sourcesanspro-regular-webfont.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('/fonts/source-sans-pro/sourcesanspro-regular-webfont.woff2') format('woff2'),
    url('/fonts/source-sans-pro/sourcesanspro-regular-webfont.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('/fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff2') format('woff2'),
    url('/fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 600;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('/fonts/source-sans-pro/sourcesanspro-bold-webfont.woff2') format('woff2'),
    url('/fonts/source-sans-pro/sourcesanspro-bold-webfont.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 700;
}

/**********************************************************************************************************************/

@font-face {
    font-family: "Prociono";
    src: url('/fonts/prociono/Prociono-Regular.woff2') format('woff2'),
    url('/fonts/prociono/Prociono-Regular.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 400;
}

/**********************************************************************************************************************/

@font-face {
    font-family: "Reddit Sans Condensed";
    src: url('/fonts/reddit-sans-condensed/RedditSansCondensed-Regular.woff2') format('woff2'),
    url('/fonts/reddit-sans-condensed/RedditSansCondensed-Regular.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: "Reddit Sans Condensed";
    src: url('/fonts/reddit-sans-condensed/RedditSansCondensed-Medium.woff2') format('woff2'),
    url('/fonts/reddit-sans-condensed/RedditSansCondensed-Medium.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: "Reddit Sans Condensed";
    src: url('/fonts/reddit-sans-condensed/RedditSansCondensed-SemiBold.woff2') format('woff2'),
    url('/fonts/reddit-sans-condensed/RedditSansCondensed-SemiBold.woff2') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 600;
}

@font-face {
    font-family: "Reddit Sans Condensed";
    src: url('/fonts/reddit-sans-condensed/RedditSansCondensed-Bold.woff2') format('woff2'),
    url('/fonts/reddit-sans-condensed/RedditSansCondensed-Bold.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 700;
}

/**********************************************************************************************************************/

@font-face {
    font-family: "Aptos Narrow";
    src: url('/fonts/aptos-narrow/ttf/Aptos-Narrow.ttf') format('truetype');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: "Aptos Narrow";
    src: url('/fonts/aptos-narrow/ttf/Aptos-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: "Aptos Narrow";
    src: url('/fonts/aptos-narrow/ttf/Aptos-Narrow-Bold.ttf') format('truetype');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 600;
}

/**********************************************************************************************************************/

@font-face {
    font-family: "'M+ 2m'";
    src: url('/fonts/m-2m/m2m-regular.woff2') format('woff2'),
    url('/fonts/m-2m/m2m-regular.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: "'M+ 2m'";
    src: url('/fonts/m-2m/m2m-medium.woff2') format('woff2'),
    url('/fonts/m-2m/m2m-medium.woff') format('woff');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    font-weight: 500;
}